<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand uk-text-lead uk-text-large" href="/" style="font-family: 'Audiowide', cursive;
        ">Seth Muriuki</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="nav navbar-nav navbar-right ml-auto">
                <a class="nav-item nav-link active" href="#home" uk-scroll style="font-family: 'Audiowide', cursive;">&lt;Home&gt; <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link active" href="#about" uk-scroll style="font-family: 'Audiowide', cursive;">&lt;About&gt;</a>
                <a class="nav-item nav-link active" href="#skills" uk-scroll style="font-family: 'Audiowide', cursive;">&lt;Skills&gt;</a>
                <a class="nav-item nav-link active" href="#portfolio" uk-scroll style="font-family: 'Audiowide', cursive;">&lt;Portfolio&gt;</a>
                <a class="nav-item nav-link active" href="#contact" uk-scroll style="font-family: 'Audiowide', cursive;">&lt;Contact&gt;</a>
            </div>
        </div>
    </nav>

</body>

</html>